<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt" layout:decorate="~{layout/main}">

<body>

	<div layout:fragment="content">
		
		<div class="container">
			<h1 class="mb-3">Cadastrar novo funcionario</h1>
			<form action="#" th:object="${funcionario}" th:action="@{/add}" method="post">

					 <div class="form-group">
        <label for="nome" class="form-label">Nome</label>
        <input class="form-control" type="text" th:field="*{nome}"  id="nome" placeholder="Nome Completo" >
    </div>

    <div class="form-group">
        <label for="inputEmail" class="form-label">Email</label> <input
            th:field="*{email}" type="email" class="form-control" id="inputEmail" required>

    </div>

    <div class="form-group">
        <label for="inputCargo" class="form-label">Cargo</label> <input
            th:field="*{cargo}" type="text" class="form-control" id="inputCargo" required>
    </div>
    <div class="form-group">
        <label for="inputSalario" class="form-label">Salario</label> <input
            th:field="*{salario}" type="number" step="any" class="form-control"
            id="inputSalario" placeholder="R$1000.00" required>
    </div>

    <div class="col-4">
        <label for="inputState" class="form-label">Setor</label> <select
            th:field="*{setor}" id="inputState" class="form-select">
        <option value="TECNOLOGIA">Tecnologia</option>
        <option value="RH">RH</option>
        <option value="DIRETORIA">Diretoria</option>
    </select>
    </div>

				<div class="col-12 mt-2">
					<button type="submit" class="btn btn-dark">Cadastrar</button>
				</div>
			</form>
		</div>

	</div>
</body>

</html>